
/* ================================
 * Atoms: Logo
 * ================================ */

.logo {
  a {
  text-decoration: none;
  color: $black;
  }

  span {
    font-size: 1.8em;
    font-weight: bold;
    color: $black;
    white-space: nowrap;
  }

  em {
    font-style: normal;
    color: $blue;
  }
}

.global-footer .logo span {
  color: $white;
}
