
/* ================================
 * MOLECULES: Forms
 * ================================ */

 .sign-in, .creat-goal {
   max-width: 650px;
 }

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: $base-font-size;
  color: $grey-1;
  margin-bottom: $pulse1;

  span {
    color: $grey-3;
  }
}

.input-group__label {
  color: $black;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 150px;
  display: inline-block;
  margin-bottom: ($pulse1/2);
}

.input-group__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: $white;
  border: 1px solid $grey-4;
  padding: 1.6em;
  font-size: inherit; //Because input fields do normally not inherit font-size
  box-sizing: border-box;
  min-width: 310px;
  max-width: 500px;
  -webkit-box-shadow: 0 0 1em $grey-3;
     -moz-box-shadow: 0 0 1em $grey-3;
          box-shadow: 0 0 1em $grey-3;
  &:focus {
   border-color: $blue;
  }
}

textarea {
  resize: none;
  width: 100%
}

::-webkit-input-placeholder {
 color: $grey-3;
 opacity: 1; /* Firefox fix */
}

:-moz-placeholder {
 color: $grey-3;
 opacity: 1; /* Firefox fix */
}

::-moz-placeholder {
 color: $grey-3;
 opacity: 1; /* Firefox fix */
}

:-ms-input-placeholder {
 color: $grey-3;
 opacity: 1; /* Firefox fix */
}

::-ms-input-placeholder {
 color: $grey-3;
 opacity: 1; /* Firefox fix */
}

::placeholder {
 color: $grey-3;
 opacity: 1; /* Firefox fix */
}

/* --------------------------------
 * Forms - Alerts
 * -------------------------------*/

.input__alert {
  color: $red;
  margin-bottom: ($pulse1/2);
  @include tablet {
      margin-left: 150px;
  }
}

.input-group__field--alert {
   border-color: $red;
}

/* --------------------------------
 * Forms - Input button
 * -------------------------------*/
.input-group button {
  display: inline-block;
}

.input__button {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 310px;
  margin-bottom: ($pulse1*3);
  @include tablet {
      margin-left: 150px;
  }
}

.input__button--promt {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 310px;
}

/* --------------------------------
 * Forms - Search field
 * -------------------------------*/

.input--cta .input-group__field {
  border-color: $blue;
}

.input__row { // for seaerch Molecule
 display: flex;
 & .btn {
   -webkit-border-radius: 0;
      -moz-border-radius: 0;
           border-radius: 0;
   border-left-width: 0; //since both elements have a border of 1px we remove one
 }

 & .input__field{ //targeting input field inside input row...
           flex: 1 0 10em;
 }
}

/* --------------------------------
 * Forms - File
 * -------------------------------*/

.input-group__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-group__file-label {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: $white;
  border: 1px solid $grey-4;
  padding: 1.6em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 310px;
}

.input__explanation {
  font-size: 1.5rem;
  @include tablet {
      margin-left: 150px;
  }
}

/* --------------------------------
 * Forms - Cancel
 * -------------------------------*/

.prompt__cancel {
  color: $blue;
  min-width: 10em;
}

/* --------------------------------
 * Forms - Checkbox
 * -------------------------------*/

.input__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  @include tablet {
      margin-left: 150px;
  }
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkmark {
    display: inline-block;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: $pulse1;
    background-color: $white;
    border: 1px solid $grey-4;
    -webkit-box-shadow: 0 0 1em $grey-3;
       -moz-box-shadow: 0 0 1em $grey-3;
            box-shadow: 0 0 1em $grey-3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $blue;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
}
