
/* ================================
 * ORGANISM: Discussion
 * ================================ */

.discussion {
  font-size: 0.8rem;

  h2 {
    margin: 0 $pulse1 ($pulse1*2) 0;
  }

  span {
    color: $grey-3;
  }

  .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .btn {
    font-size: 1rem;
  }

  .comment-box__add, .comment-box__made {
    margin-bottom: $pulse1;
  }
}
