
/* ================================
 * ORGANISM: Header with loc nav
 * ================================ */

.header-loc-nav .title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
