
/* ================================
 * ORGANISM: Followers
 * ================================ */

.followers-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: $pulse1 0;
  border-bottom: 1px solid $grey-3;

  .btn {
    width: 10em;
  }
}
